@import url(../font/thsarabunnew.css);

*{ margin: 0; padding: 0; }
body{ font-family: 'THSarabunNew', sans-serif; font-size: 0.95em; line-height: 1.7em; 
background-color: #eeeeee;
}

.container{
    width:90%;
}
.navbar-brand img{
    display: inline-block; 
    max-height: 56px;
    float: left;
}
.navbar-brand .brand-name{
    float: right;
   
  
    padding-left: 10px;
 
}



.maincrop .tab{
    
    background-color:#4caf50;
}
.maincrop .tab a{
    color: white;
}
.maincrop .tab a.active{
      color: #4caf50;
      font-weight: bold;
      background-color:white;
}
.maincrop .tab a:hover{
      color: #ff9800; 
}

